

.body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    display: flex;
}

#sidebar-wrapper {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
    height: 160vh; /* Set sidebar height to 100% of viewport height */
}

.sidebar-nav {
    list-style: none;
    padding: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    color: #dcdcdc;
}

#page-content-wrapper {
    flex: 1;
    padding: 15px;
}

#profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-info h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.profile-info p {
    margin: 5px 0 0;
    color: #666;
}

#logout {
    margin-top: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    padding: 5px 10px;
    font-size: 14px;
}